node_modules/
dist/
*-lock.json
*-lock.yaml
*.lock
.*-debug.log
*.tsbuildinfo
.env
*.tgz
.DS_Store
uploads/
node_modules/
dist/
*-lock.json
*-lock.yaml
*.lock
.*-debug.log
*.tsbuildinfo
.env
*.tgz
.DS_Store
uploads/
GoogleTextToSpeech
google-cloud-sdk
.venv
.vscode