body {
    min-height: 100vh;
    max-width: 100%;
    background-color: #cde6f522!important;
}

#root {
display: flex;
justify-content: center;
flex-wrap: wrap;
max-width: 100%;

}

.bigContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.banContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 100%;
    padding-left: 5rem;
}

#homePageLogo {
    width: 25rem;
    height: 12rem;
}

.footContainer {
    width: 100%;
    height: 5rem;
    background-color: #cde6f56c;
    display: flex;
    justify-content:center;
    position:relative;
    bottom: 0 !important;
    left: 0;
    margin-top: auto
}
.footText {
    padding-top: 1rem;
    width: 14rem
}

.contentWrapper {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.welcomePage {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* --Nav Bar------------------------------------------------------------------------------------------------------- */

.navBarControl {
    box-shadow: none !important;
    padding-left: 9rem !important;
}

.offcanvas-body{
font-size: 20px;   
width: 100%;
}

.nav-link {
    color: rgb(85, 84, 84) !important;
}
.nav-link:hover{
    color:rgb(68, 153, 196) !important;
    font-weight: bold;
}
.dropdown-item {
    color: rgb(0, 0, 0) !important;
}

.searchBox {
    align-items: center;
}

.uploadSubmitForm {
    display: flex;
    align-items: center;
    flex-direction: column
}

.navText {
    font-weight: bold;
    width: 50%;
}
/* --Register From------------------------------------------------------------------------------------------------------- */
.registercontrol {
    display: flex;
    flex-direction: row;
}
.RegisterFormContainer  {
    width: 40rem !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap ;
    height: 70rem;
    }

.registerTitle{
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem ;
}

.registerImg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 70rem;
}

.roleLabel{
    margin-top: 1rem;
    color: black;
}

.firstNameInput{ 
    padding-left: 0px !important;
}
.lastNameInput{
    padding-right: 0px !important;
}

.submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#resetBtn {
    font-weight: bold;
    margin-right: 50px;
    line-height: 0.8 !important;
}

#submitBtn {
    font-weight: bold;
    line-height: 0.5 !important;
}


/* --Login Form------------------------------------------------------------------------------------------------------- */

.loginFormContainer{
    display: flex;
    justify-content: center;
}

.loginForm {
    justify-content: center;
    display: flex;
}

.loginFormFetch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    height: 40rem;
}
.loginTitle {
    font-weight: bold;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.loginInput {
    width: 20rem;
    margin: 1rem;
}
.loginInput2 {
    width: 20rem;
    margin: 1rem;
}

.registerHere:hover {
    color:red
}

#loginImg {
    width: 25rem;
    border-radius: 2em;
}

.loginFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}


/* --Upload Form------------------------------------------------------------------------------------------------------- */

.uploadForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selectItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.donateItemList {
    background-color: white;
    width: 30rem !important;
    height: 2.2rem;
}

.uploadBtn {
    font-weight: bold !important;
    line-height: 1 !important;
    margin: 2rem;
}

#uploadPageInput {
    height: 2rem;
}

#donateStepBtn {
    display: flex;  
    height: 2rem;
    width: 7.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    background-color: #daeef99c !important;
    color: black !important;
    font-weight: bold ;
}

/* --Btn------------------------------------------------------------------------------------------------------- */

.statusContainer{
    margin-top: 1rem !important; 
}

.logInStatus {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    justify-content: flex-end;
    width: 38rem;
    height: 5rem;
}

.logOutBtn {
    margin-left: 20px;
    font-weight: bold !important;
    height: 35px;
}

.loginFormBtn {
    height: 2rem;
    display: flex !important;
    align-items: center !important;
    font-weight: bold !important;
    margin: 2rem !important;
}

.logInBtn {
    font-weight: bold !important;
    height: 40px !important;
}

.donateItemContainer {
    display: flex;
    justify-content: center;
    /* margin-bottom: 1rem; */
}

.pWelcome {
    display: flex;
    align-content: center;
    padding-top: 15px;
}

.uploadAddItemBtn {
    font-size: 15px !important;
    padding-top: 5px !important; 
    padding-bottom: 5px !important;
    margin-top: 10px;
    background-color: #daeef99c !important;
}

.loginFormControl {
    height: 45rem;
    margin-bottom: 5rem;
}
/* -----Body Content--------------------------------------------------------------------------- */
.bodyContent {
    margin-top: 2rem;
    width: 77rem;
}
.homePageCardContainer {
    margin-top: 2rem !important;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.homePageCard {
    --mdb-card-box-shadow:0px !important;
    display: flex;
    flex-direction: row !important;
    width: 75rem;
    height: 19rem !important;
    margin: 1rem;
    background-color: #cde6f56c !important;
    /* border-radius: 2rem !important; */
    border-top-right-radius: 10rem !important;
    border-top-left-radius: 10rem !important;
    border-bottom-left-radius: 10rem !important;
}
.homePageCard2{
    --mdb-card-box-shadow:0px !important;
    display: flex;
    flex-direction: row !important;
    width: 75rem;
    height: 19rem !important;
    margin: 1rem;
    background-color: #cde6f56c !important;
    /* border-radius: 2rem !important; */
    border-top-left-radius: 10rem !important;
    border-top-right-radius: 10rem !important;
    border-bottom-right-radius: 10rem !important;
}
#homePageCard2Title {
    display: flex;
    justify-content: end;
}
.homePageImg {
    width: 20rem;
    height: 19rem;
    border-radius: 50%;
}

.card-title {
    font-weight: bold;
}
  
.homePageCardControl {
    padding: 3rem;

}
/* ------DonateItem------------------------------------------------------------------------------------------ */

.css-hkdbh3-MuiPaper-root-MuiCard-root {
    border:solid 1px black;   
    margin: 5px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.2), 0px 0px 0px 0px rgba(255, 255, 255, 0.2) !important;
    height: 300px;
    }

.donateItemCard {
    width: 200px;
    height: 250px;
    margin: 1rem;
    /* background-color: #cde6f522 !important; */
    filter: drop-shadow(15px 15px 10px #cde6f56c);
}

/* ------uploadPage & confirm upload------------------------------------------------------------------------------------------ */

.stepImgContainer {
    display: flex;
    justify-content: center;  
}
#uploadStepImg {
    width: 75rem;
}

.uploadContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    height: 80rem;
}

.uploadControl {
    justify-content: center;
}

.list-group{
    align-items: center;
}
.list-group-item{
    width: 20em;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    border: solid 1px  rgb(222, 222, 222) !important;
    display: flex !important;
    justify-content:space-around;
    padding-right: 5px !important;
    padding-left: 5px  !important;
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    margin-top: 1rem;

}

.deleteIcon {
width: 1.1em ;
}

/* ------finalConfirmPage------------------------------------------------------------------------------------------ */
.logisticTitle {
display: flex;
justify-content: center;
padding-bottom: 1rem;
}

.logisticForm{
    width: 70rem;
}

.logisticConfirm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}

.logisticRow {
    width: 100%;
    border-top: solid 2px;
    padding: 2rem;
    display: flex;
    padding-left: 10rem;
}


.logisticConfirmCard {
    width: 25rem;
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 0rem !important
}

#finalConfirmNodata {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ------aboutUs------------------------------------------------------------------------------------------ */

.aboutUsContainer {
    display: flex;
    justify-content: center;
}

.aboutUsControl {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50rem;
}

#aboutUsImg {
    /* position:relative; bottom:4.5rem ; */
    width:40rem;
}

.aboutUsContent {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* ------Admin  Page------------------------------------------------------------------------------------------ */

.adminPageControl {
    display: flex;
    justify-content: center;
}
.adminPageContainer {
    margin-top: 3rem ;
    height: 70rem;
    width: 83rem;
}

#adminPageBtn {
    background-color: #cde6f584;
    display: flex;
    align-items: center;
    height: 1.8rem;    
}
.adminTitle {
    display: flex;
    justify-content: center;
}

.adminPagePopup:hover{
    font-weight: bold;
}

/* ------Carousel------------------------------------------------------------------------------------------ */

.carouselContainer {
    width: 75rem;
    filter: drop-shadow(20px 20px 10px #cde6f5);
}

/* ------Transaction Page------------------------------------------------------------------------------------------ */

.MuiFormControl-root {
    width: 50rem !important;
}

/* ------Rental Page------------------------------------------------------------------------------------------ */

.rentalPageControl {
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;

}

.rentalPageContainer {
    width: 70rem;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    align-items: center;
}

.rentalPageCardControl {
    display: flex;
    width: 15rem;
    margin: 1rem !important;
}

.rentalPageCard {
}

.rentalPageCardImg {
    background-color: white;
}

.rentalPageBtnControl {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.rentalPageBtn {
    display: flex;
    justify-content: center;
    width: 50rem;
    background-color: #cde6f5 !important;
}

/* ------Admin Confirm Page------------------------------------------------------------------------------------------ */


.adminConfirmPageControl {
    max-width: 100%;
    /* height: 55rem; */
}

.adminConfirmPageContainer {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.tableResponsive {
    width: 80rem;
}

.adminConfirmPageBtn {
    font-size: 15px !important;
    font-weight: bold !important; 
}

/* ------Admin Page------------------------------------------------------------------------------------------ */

.adminPageTableDonateItems {
    display: flex;
    width: 11rem;
}

.adminPageTableAddress {
    width: 9rem;
}

.modal {
    display: flex !important;
    justify-content: center !important;   
}

.modal-backdrop {
    --mdb-backdrop-opacity: 0.3 !important;
}


.modal-content{
    width: 100rem !important;
}

.modal-dialog {
    display: flex;
    align-items: center;
    margin-right: 10rem !important;
    margin-left: 0px !important;
    margin-bottom: 25rem !important;
}

.modal-title {
    display: flex;
    justify-content: center !important;
    width: 40rem;
    padding-left: 2rem;
}

.modal-body {
    display: flex;
    justify-content: center !important;

}

.modal-footer {
    display: flex;
    justify-content: center !important;
}

.btn-primary {
    background-color:rgb(109 178	208	) !important;
    font-weight: bold !important;
}


/* ------------------------------------------------------------------------------------------------ */
