.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
    width:100%;
    padding-bottom: 5rem;
    object-fit: contain;
    box-shadow: 0px !important;
}

.title {
    width: 60rem;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header{
    font-size: 45px;
    font-weight: bold;
}

.uploadBtn {
    width: 45%;
    margin-top: 1em;
}
