.contactInfo{
  width: 30rem;
  margin-top: 1rem;
}

.inputAddressContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.transactionContainer {
  padding-bottom: 5rem;

}

.transactionPageTitle{
  display: flex;
  justify-content: center;
}

.transactionPageUploadBtn{
  width: 30rem;
}
